<template>
<div style="height:570px; padding-top:10px;">
    <div style="width:20%; float:left;">
        <p style="margin-top:35px; float:right; margin-right:20px;">
            <a href="#" onclick="return false" @click="selected='overview'" style="float:right;" :style="selected=='overview'? 'color:#006cd8' : 'color:#0080ff'">
                <span v-show="selected=='overview'">&#x2023;</span> Overview</a><br/>
            <a href="#" onclick="return false" @click="selected='method'" style="margin-top:10px; float:right;" :style="selected=='method'? 'color:#006cd8' : 'color:#0080ff'">
                <span v-show="selected=='method'">&#x2023;</span> Method</a><br/>
            <a href="#" onclick="return false" @click="selected='projections'" style="margin-top:12px; float:right;" :style="selected=='projections'? 'color:#006cd8' : 'color:#0080ff'">
                <span v-show="selected=='projections'">&#x2023;</span> Projections</a>
        </p>
    </div>
    <div style="width:80%; float:right;">
        <div v-if="atlasType=='myeloid'">
            <span style="font-size:1.2em; font-weight:bold">About the Myeloid Atlas</span>
            <span style="float:right; margin-right:5px;">Go to <a href="/atlas/blood" style="align:right">Blood Atlas</a></span>
        </div>
        <div v-if="atlasType=='blood'">
            <span style="font-size:1.2em; font-weight:bold">About the Blood Atlas</span>
            <span style="float:right; margin-right:5px;">Go to <a href="/atlas/myeloid" style="align:right">Myeloid Atlas</a></span>
        </div>
        <div v-if="selected=='overview'">
            <div v-if="atlasType=='myeloid'">
                <p>This is an interactive gene expression atlas compiled from <span style="font-weight:bold">900+ samples and 44+ datasets</span>
                (microarray and buk RNA-seq) which reside within Stemformatics. These samples represent human monocyte, dendritic cell and macrophage biology. 
                You can see exactly which datasets were used to build this atlas by selecting "find dataset" function. 
                All of the data displayed in this atlas are available to download via "download data/plots" function. 
                Read more about the Myeloid atlas at <a href="https://doi.org/10.1101/719237" target="_blank">biorxiv</a>.</p>
            </div>
            <div v-if="atlasType=='blood'">
                <p>This is an interactive gene expression atlas compiled from <span style="font-weight:bold">800+ samples and 35+ datasets</span> 
                (microarray and buk RNA-seq) which reside within Stemformatics. These samples represent human blood cells. 
                You can see exactly which datasets were used to build this atlas by selecting "find dataset" function. 
                All of the data displayed in this atlas are available to download via "download data/plots" function.
                Read more about the blood atlas at <a href="https://doi.org/10.1101/2020.03.09.984468" target="_blank">biorxiv</a>.</p>
            </div>

            <p>You can explore the atlas in several ways: Plot by <span style="font-weight:bold">"sample type"</span> to change 
            the colour of the samples to based on attributes such as progenitor type, sample source or cell type. 
            Plot by <span style="font-weight:bold">"gene expression"</span> to search by gene symbol to overlay a heatmap onto the atlas. 
            Display sample annotations and gene expression data side-by-side. Click on the item in the legend to add or remove that category. 
            Zoom in or out using your mouse, double-click individual samples to see more information on their origin, cell type, 
            Stemformatics dataset, and sample description. <span style="font-weight:bold">"project other data"</span> function allows you
            to see where samples from another dataset sit, either from another Stemformatics dataset or your own.</p>
        </div>
        <div v-if="selected=='method'">
            <p>In brief, the data integration here has been done by first selecting appropriate samples across many curated datasets of
            relevance, then performing an evaluation of each gene's variance on batch and filtering out genes where this is large.
            This method achieves data integration across multiple platforms and data types quite robustly, as long as cell types are represented
            well across multiple batches. Rank normalisation must be done prior to gene filtering in order to use same scale of values,
            but no other value transformation takes place, at the expense of retaining only a subset of all genes. More details 
            on the method used are available at <a href="https://doi.org/10.1101/2020.03.09.984468" target="_blank">biorxiv</a>.</p>
            <p>When you perform a gene expression plot, you will see some genes greyed out on autocomplete. Even though the 
            values of these genes are shown, beware that these genes have been filtered out before constructing the PCA due to their 
            high variance across batches.</p>
        </div>
        <div v-if="selected=='projections'">
            <p>You can project samples from your own dataset to the atlas using the "project other data" function. 
            This can give you some idea about the transcriptional distance of those samples to those in the atlas.
            To do this, you need to provide two files: expression matrix and samples. Both files need to be tab separated text files.
            Row ids of the expression file must be Ensembl ids. 
            You can download example <a href="http://data.stemformatics.org/files/notta_expression.tsv">expression matrix</a> and
            <a href="http://data.stemformatics.org/files/notta_samples.tsv">sample description</a> files, if you want to examine the exact format.
            Check out the <a href="/static_html/atlas_vignette/Stemformatics_atlas_projection_vignette.html" target="_blank">vignette</a> 
            provided for more detail on projections, including how to project single cell RNA-Seq data.</p>
            <p>The projection method uses only the genes which are common between
            the atlas and the dataset being projected, so if the number of these genes are too small, you may receive an error message.
            Note that if samples are transcriptionally very different to blood cells, such as fibroblasts or neurons, projected 
            points will end up in the central region of the PCA. This region corresponds to coordinates where samples sit equally far away 
            from all regions of the PCA.</p>
            <p>Also note that this functionality is still in beta stage, so many parts of it can be improved in future. Please be patient
            if it doesn't work immediately - it's most likely due to file format issue, or null values in the expression 
            (best to not have these). Feel free to give us feedback so that we can improve this functionality in future if useful.</p>
        </div>
        <hr>
        <p>Want to do more with this atlas, or have enquries? Contact <a href="mailto:info@stemformatics.org">info@stemformatics</a>.</p>
        <p>Note: This page uses <a href='https://plot.ly/' target="_blank">plotly</a>'s 3d plots, and may not work on 
        all browsers, and we know that it does not work on IE11. We recommend Chrome, Firefox or Safari.</p>
    </div>
</div>
</template>

<script>
module.exports = {

    props: {
        atlasType: String,
    },

    data: function() {
        return {
            selected: 'overview',
        }
    },

    methods: {

        // Send signal to close this component if used as a dialog
        close: function() {
            this.$emit('close');
        },

    },
}
</script>

<style scoped>
h1 {
    font-size:18px;
    text-align: center;
}
a {
    text-decoration: none;
}
</style>
