div.graphControls {
    padding: 12px;
    z-index: 9999;
    width: 80%;
    border: solid 2px #5a5a5a;
    background-color: #CCCC;
    margin-bottom: 2em;
    height: 5em;
}
#dataset_breakdown_div{
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;

}

#dataset_breakdown_inner_div {
    text-align: center;
    font-family: Arial sans-serif;
}
table {
    width: auto;
}

#loading {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.69);
    color: white;
}
.arial_font{
    font-family: Arial, Helvetica, sans-serif;
}

#info_tooltip_image {
    max-width: 14px;
}

.container {
    width: 1006px;
    margin: auto;
}

#geneSearch {
    margin-right: 6px;
}

#select_sample_button {
    cursor: pointer;
}

#graphHelp, #selectSample, #resetSample, #detailSample, #projectData, #projectDataButton, #projectDataReset {
    margin-top: 12px;
    margin-left: 6px;
    display: inline;
    padding: 3px;
    background-color: #5b5b5b;
    height: 23px;
    font-size: 13px;
    line-height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

#gene_error_msg {
    text-align: center;
    font-family: Arial sans-serif;
}

#exportMenu,#helpMenu {
    margin-left: 0px;
    margin-top: 12px;
}

#analysisMenu, #infoMenu, #panel-help, #functionalityMenu,#selectSample, #detailSample{
    margin-left: 16px;
    margin-top: 12px;
}

.project_data_title{
    color: #000000 !important;
    font-size: 18px !important;
    margin-bottom: 16px;
    margin-top: 13px;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 10003;
   text-align: center;
}

.inline {
	/*display: inline;*/
}

.autocomplete_input{
    height: 15px;
    margin-right: 20px;
}

.dropdown_border {
    border: 4px solid #ccc;
    border-left: 0px;
}

.ui-menu .ui-menu-item {
    width: 700px !important;
}

.ui-menu {
    padding: 0px;
}

.ui-menu-item:hover {
    background-color: #fff;
    border: 1px solid #F8971D;
    cursor: pointer;
    font-weight: bold;
}

.remove_margin_right {
    margin-right: -4px;
}

select {
    height: 34px;
    line-height: 24px;
    -webkit-border-radius: 0px;
    margin-right: 12px;
    font-size: 14px;
    padding-left: 11px;
    font-family: Arial, Helvetica, sans-serif;
}


#loading {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.69);
    color: white;
}

#file_export_table {
    width: -webkit-fill-available;
}
#data_download_inner_div {
    display: block;
}
#data_download_div{
    height: 500px;
}
[v-cloak] 
{ 
    display:none; 
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

#loading .loading-content {
    margin: auto;
    width: 300px;
    margin-top: 33vh;
    font-size: 20px;
}

.link{
    text-decoration: underline;
    cursor: pointer;
}

.buttonMenus {
    display: inline;
    padding: 6px;
    background-color: #5b5b5b;
    height: 23px;
    font-size: 13px;
    line-height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.container {
    width: 1006px;
    margin: auto;
}

.gene-input {
    padding-top: 3px;
    padding-bottom: 1px;
    font-size: inherit;
    vertical-align: text-bottom;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #000;
    width: 100px;
    cursor: initial !important;
    color: #ca3b00;
}
#detailed_sample_info_title{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #F99820;
}

#simplemodal-data{
    display: block;
    overflow: scroll;
    max-height: 500px;
    text-align: center;
    width: 700px;
}

#detailed_sample_info {
    margin: 0 auto;
}

b{
    font-weight: bold;
}

.title{
    margin-top: 20px;
    font-family: Arial !important;
    font-size: 16px !important;
    color: black !important;
    font-weight: bold;
    margin-left: 25.9em;
}
#help_title {
    font-family: Arial !important;
    font-size: 16px !important;
    color: black !important;
    font-weight: bold;
    text-align: center;
}

.iscandar-select {
    vertical-align: text-bottom;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #ca3b00;
}

#noDataForGeneError {
    font-size: 24px;
    display: block;
    width: 100%;
    color: red;
}

div.graphControls {
    padding: 12px;
    z-index: 9999;
    width: 80%;
    border: solid 2px #5a5a5a;
    background-color: #CCCCCC;
}

.controls {
    margin-top: 25px;
    font-size: larger;
    text-align: center;
}

.displayGraphs {
    margin-top: 20px;
}
.subtitle {
    font-size: 16px;
    fill: rgb(91, 91, 91);
    text-align: center;
    padding-bottom: 10px;
    font-family: Arial !important;
}

#breadcrumb {
    margin-left: 0px;
}

.list {
    position: absolute;
    z-index: 1002;
    overflow: auto;
    min-width: 177px;
    max-height: 200px;
    margin: 0;
    margin-left: 57px;
    padding: 0;
    list-style: none;
    border-radius: 0px;
    background-color: #eee;
    margin-top: -1px;
    font-family: Arial,sans-serif;
    font-size: 0.8em;
}
.ui-menu .ui-menu-item {
    width: 700px !important;
}

.ui-menu {
    padding: 0px;
}
#geneSearch {
    margin-right: 6px;
}
#gene_error_msg {
    text-align: center;
    font-family: Arial sans-serif;
}
#info_tooltip_image {
    max-width: 14px;
}
.search_box{
    margin-top: -29px;
    margin-left: 54px;
    position: absolute !important;
    display: inline !important;
}
.second_row_menu{
    margin-top: 12px;
    line-height: 15px;
    height: 16px;
    margin-right: 16px !important;
    cursor: pointer;
}
a img {
    height: 27px;
    margin-bottom: -9px;
    margin-left: -1px;
    margin-right: 20px;
}
.aliases {
    margin-left: 4px;
    width: 300px;
    float: left;
    color: #000;
}
.remove_margin_right {
    margin-right: -4px;
}
.autocomplete_input{
    height: 15px;
    margin-right: 20px;
}

select:hover, select:active {
    border: 4px solid #ccc;
    border-left: 0px;
}
.dropdown_border {
    border: 4px solid #ccc;
    border-left: 0px;
}
select {
    height: 35px;
    line-height: 24px;
    -webkit-border-radius: 2px;
    margin-right: 12px;
    font-size: 14px;
    padding-left: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.list-li {
        margin: 0;
        z-index: 1002;
        padding: 8px 15px;
        border-bottom: 1px solid #f5f5f5;

    }
.inline {
    display: inline-block;
}

.ui-menu-item:hover {
    background-color: #fff;
    border: 1px solid #F8971D;
    cursor: pointer;
    font-weight: bold;
}

#buttonMenusSecondRow{
    background-color: #CCCCCC;
}

#exportMenu,#helpMenu {
    margin-left: 0px;
    margin-top: 12px;
}

#analysisMenu, #infoMenu, #panel-help, #functionalityMenu{
    margin-left: 16px;
    margin-top: 12px;
}

#dataset_title{
    cursor: pointer;
    text-decoration: underline;
}

#geneInfoButtonMenu {
    padding-right: 12px;
}

.submenu li a{
    margin-top: 0px;
}
#gene_title, #datamethod_title {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 22px !important;
    line-height: 28px !important;
    color: #F05D24 !important;
    margin-bottom: 12px !important;
    font-weight: normal;
    margin-top: 0px !important;
    float: left;
    display: contents;
}
.simplemodal-close {
    background: url(/images/x.png) no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -15px;
    right: -16px;
    cursor: pointer;
}
.dataTable {
    margin: 0 auto !important;
}
#export_data_main_title {
    float: none;
    margin-bottom: 9px;
}
#export_data_subtitle {
    text-align: center;
    display: block;
    margin-bottom: 6px;
}
.simplemodal-container {
    position: absolute;
    z-index: 1002;
    width: 700px;
    top: 20%;
    display: block;
    height: 500px;
    color: #5A5A5A;
    background-color: #FFF;
    border: 4px solid #444;
    padding: 16px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    top: 20%;
}
#simplemodal-data{
    display: block;
    overflow: scroll;
    max-height: 500px;
    text-align: center;
    width: 700px;
}
#help_modal {
    width: 40% !important;
    left: 30% !important;
    top: 15%;
    max-height: none;
}
.simplemodal-overlay {
    opacity: 0.5; 
    height: 1470px; 
    width: 1841px; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: 1001;
    cursor: wait;
    background-color: #000;
}
.gene_description {
    margin-top: 12px;
    margin-bottom: 20px;
}
#geneInfoButtonMenu {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    height: 26px;
    line-height: 26px;
    padding-left: 12px;
    border: 1px solid #777;
    background: #ffffff;
    border-radius: 3px;
}