<template>
<div>
    <h1>Download data/plots</h1>
    <p><select v-model="selectedDownloadType"><option v-for="item in downloadTypes">{{item}}</option></select></p>

    <div v-if="selectedDownloadType=='data'">
        <p>You can download the data used for the atlas here. The samples matrix contains data about each sample, 
        the genes matrix shows which genes were included in the atlas and which were left out, and 
        the expression matrix contains rank normalised expression values (note: large file).
            </p>
        <ul style="margin-top:10px">
            <li><a href="#" onclick="return false" @click="downloadFile('samples')">samples matrix</a> (~50kb)</li>
            <li><a href="#" onclick="return false" @click="downloadFile('genes')">genes matrix</a> (~360kb)</li>
            <li v-if="atlasType=='myeloid'"><a href="http://data.stemformatics.org/files/v7.1/myeloid_atlas_expression_v7.1.tsv">expression matrix</a> (226Mb)</li>
            <li v-if="atlasType=='blood'"><a href="http://data.stemformatics.org/files/v7.1/blood_atlas_expression_v7.1.tsv">expression matrix</a> (220Mb)</li>
            <li><a href="#" onclick="return false" @click="downloadFile('colours')">colours</a> (1kb)</li>
        </ul>
    </div>

    <div v-if="selectedDownloadType=='plots'">
        <p>You can download plots at high resolution here, rather than relying the low resolution png download
        button provided by plotly. Height and width here are in pixels.</p>
        <p style="margin-top:20px;">image type: <select v-model="downloadPlots.selectedImageType"><option v-for="item in downloadPlots.imageTypes">{{item}}</option></select></p>
        <p style="margin-top:20px;">
            width: <input type="number" v-model="downloadPlots.width" style="font-size:12px; line-height:0; padding:0; width:80px"> &nbsp;
            height: <input type="number" v-model="downloadPlots.height" style="font-size:12px; line-height:0; padding:0; width:80px;">
            <button @click="downloadPlot()" style="margin-left:20px;">Download</button>
        </p>
    </div>
    <button @click="cancel" style="margin-top:20px;">close</button>
</div>
</template>

<script>
module.exports = {

    props: {
        atlasType: String,
        mainPlotDiv: String
    },

    data: function() {
        return {
            downloadTypes: ["data", "plots"],
            selectedDownloadType: "data",
            downloadPlots: {
                imageTypes: ["svg","jpeg","webp"],
                selectedImageType: "svg",
                width: 1200,
                height: 900,
            }
        }
    },

    computed: {
    },

    methods: {
        // Should run when user wants to download a file if this is not a static resource
        downloadFile: function(filename) {
		    window.location.assign('/atlas/download?type=' + this.atlasType + '&filename=' + filename);
        },

        // Should run when user wants to download a plot. imageType is one of ["svg","jpeg","webp"]
        downloadPlot: function() {
            Plotly.downloadImage(document.getElementById(this.mainPlotDiv), {
                format: this.downloadPlots.selectedImageType,
                height: parseInt(this.downloadPlots.height),
                width: parseInt(this.downloadPlots.width),
                filename: 'Stemformatics_' + this.atlasType + '_atlas'
            });
        },

        cancel: function() {
            this.$emit('cancel');
        },
    },

    mounted() {
    }
}
</script>

<style scoped>
h1 {
    font-size:16px;
    font-weight: bold;
}

a {
    text-decoration: none;
}
</style>
