<template>
<div>
    <h1>Project Other Data</h1>
    <p>You can project samples from another dataset onto the atlas here. 
        This is useful for visualising the transcriptional distance between samples.
        The other dataset may be from Stemformatics, or your own. Currently only human datasets are supported for projections.
    </p>
    <p>For more details on projecting your own data, including how to project single cell RNA-Seq data,
        see this <a href="/static_html/atlas_vignette/Stemformatics_atlas_projection_vignette.html" target="_blank">vignette</a>.
    </p>
    <p>
    <select v-model="selectedDataSource">
        <option value="null">[Select data source...]</option>
        <option value="Stemformatics">Stemformatics</option>
        <option value="User">Your own dataset</option>
    </select>
    </p>

    <div v-if="selectedDataSource=='Stemformatics'" class="border">
        <div v-if="selectedDataSource=='Stemformatics'">
            <p style="margin-bottom:10px;">Start typing author or title to find the dataset using autocomplete (min 3 characters), or browse through 
            <a href="/workbench/download_multiple_datasets" target="_blank">Stemformatics datasets</a> and enter the name here 
            (you still need to select from autocomplete list). Note that currently only (bulk) RNA-Seq data projection is supported - other platform types are greyed out.</p>
            <table class="noborder">
                <tr><td style="line-height:20px;">Name:
                    <div class="autocomplete" style="margin-left:10px;">
                        <input type="text" v-model="queryString" @keyup="getPossibleDatasets"  placeholder="[author or title]" style="width:230px;">
                        <ul v-show="showPossibleDatasets" class="autocomplete-results" style="width:230px">
                            <li v-for="(item ,i) in possibleDatasets" class="autocomplete-result" :key="i" @click="setSelectedDataset(i)" 
                                :style="item.platform=='RNAseq'? 'color:black' : 'color:grey'">
                                <b style="font-weight:bold">{{item.author}}</b>:
                                {{item.Title!=null? (item.Title.length>20? item.Title.substring(0,20)+"..." : item.Title): ""}}
                            </li>
                        </ul>
                    </div>
                </td></tr>
                <tr><td><div v-show="selectedDataset.datasetId!=null" style="margin-top:10px;">Selected Dataset: <b style="font-weight:bold;">{{selectedDataset.author}}</b>
                    ({{selectedDataset.platform}}, {{selectedDataset.numberOfSamples}} samples)</div>
                </td></tr>
                <tr><td style="padding-top:20px;"><button @click="projectData('Stemformatics')">Project</button>
                    <img v-if="showLoadingIcon" src="/static_img/ajax-loader.gif" style="vertical-align:bottom">
                </td></tr>
            </table>
        </div>
    </div>

    <div v-if="selectedDataSource=='User'" class="border">
        <p style="margin-bottom:10px;">Select expression matrix and sample description files to upload. Both files need to be in
            tab separated format, with Ensembl gene ids or symbols as row ids and sample ids as column names. You can download example
            <a href="http://data.stemformatics.org/files/notta_expression.tsv">expression matrix</a> and
            <a href="http://data.stemformatics.org/files/notta_samples.tsv">sample description</a> files, if you want to
            examine the exact format.
        </p>
        <table class="noborder">
            <tr><td>name:</td><td><input type="text" v-model="testDatasetName" placeholder="[short name for dataset]" size="30"></td></tr>
            <tr><td>expression file:</td><td><input type="file" ref="expression" @change="handleFileUpload('expression')"/></td></tr>
            <tr><td>samples file:</td><td><input type="file" ref="samples" @change="handleFileUpload('samples')"/></td></tr>
            <tr><td>sample column:</td><td><input type="text" v-model="selectedSampleColumn" placeholder="[sample column to show on plot]" size="30"/></td></tr>
            <tr>
                <td><button @click="projectData('User')" style="margin-top:10px;">Project</button></td>
                <td><img v-if="showLoadingIcon" src="/static_img/ajax-loader.gif" style="vertical-align:bottom"></td>
            </tr>
        </table>
    </div>

</div>
</template>

<script>
module.exports = {
    data: function () {
        return {
            selectedDataSource: null,   // one of ["Stemformatics","User"]
            showLoadingIcon: false,
            formData: new FormData(),   // this will be emitted with an event when ready to project

            // For Stemformatics datasets
            showPossibleDatasets: false,    // show/hide autocomplete div
            possibleDatasets: [],   // actual list of entries in the autocomplete
            queryString: "",    // user types this
            selectedDataset: {},    // attributes of eventually selected Stemformatics dataset

            // For user's own datasets
            testDatasetName: null,
            selectedSampleColumn: "",
        }
    },

    methods: {
        // Fetch datasets from the server which match queryString
        getPossibleDatasets: function() {
            var self = this;
            if (self.queryString.length<=2) return;    // ignore 2 or less characters entered
            axios.get('/atlas/datasetinfo?queryString=' + self.queryString)
                .then(function (response) {
                    var datasets = response.data;
                    if (datasets.length>0) {
                        //console.log(JSON.stringify(datasets));
                        self.possibleDatasets = datasets; //[{datasetId: 7283, author:'Notta', ...}, ...]
                        self.showPossibleDatasets = true;
                    }
            });
        },

        // Should run when user selects from autocomplete, to assign the dataset as selected
        setSelectedDataset: function(index) {
            this.selectedDataset = this.possibleDatasets[index];
            this.showPossibleDatasets = false;
            this.queryString = this.selectedDataset.author;
        },

        // Should run on change of file selector to append file object to formData.
        handleFileUpload: function(filetype) {
            this.formData.append(filetype, this.$refs[filetype].files[0]);
        },

        // Should run when we want to project the dataset.
        projectData: function(dataSource) {
            var self = this;
            self.formData.append("dataSource", dataSource);

            if (dataSource=="Stemformatics") {
                if (self.selectedDataset.datasetId==null) {
                    alert("Select a dataset first. Remember to make a selection from autocomplete drop-down even if you paste the exact name of the dataset.");
                    return;
                } else if (self.selectedDataset.platform!="RNAseq") {
                    alert("Currently only (bulk) RNAS-eq datasets can be projected using this feature. The other datasets will be available for projection soon.");
                    return;
                }
                self.formData.append("name", self.selectedDataset.author);
                self.formData.append("datasetId", self.selectedDataset.datasetId);
                self.formData.append("platform", self.selectedDataset.platform);
            }
            else {
                // Validate some fields
                if (self.testDatasetName==null || self.testDatasetName=="") {
                    alert("Name must be supplied, as it is used to identify the projected samples.");
                    return;
                }
                else if (self.formData.get("expression")==null || self.formData.get("samples")==null) {
                   alert("Expression and samples files must be supplied.");
                   return;
                }
                self.formData.append("name", self.testDatasetName);
                self.formData.append("sampleColumn", self.selectedSampleColumn);
            }

            self.$emit('project-data', self.formData);
            self.showLoadingIcon = true;
        },
    }
}
</script>

<style scoped>
h1 {
    font-size:16px;
    font-weight: bold;
}
input {
    font-size:12px;
    height: 8px;
}
div.border {
    border: 1px solid #d3d3d3;
    margin-top:20px; 
    padding:5px 10px 10px 10px; 
}
/* For autocomplete div */
.autocomplete {
  position: absolute;
  display: inline-block;
  width: 140px;
  opacity: 0.9;
  vertical-align:top;
  z-index:100;
}

.autocomplete input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  height: 8px;
  font-size: 12px;
  width: 130px;
}

.autocomplete-results {
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    height: 120px;
    overflow: auto;
}
.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
    font-size: 12px;
    background: #f1f1f1;
}
.autocomplete-result:hover {
    background: lightgrey;
}

</style>
