<template>
<div>
    <h1>Edit Legend Items</h1>
    <p>You can edit legend item colours here. Click in the coloured box to show a colour picker. 
       You need to click on the apply button to see the changes on the page. ({{legends.length}} entries here)</p>
    
    <table class="noborder">
        <tr v-for="(item,i) in dataArray">
            <td>
                <jscolor :value="item.colour" @input="update($event,i)"></jscolor>
            </td>
            <td>
                {{item.value}}
            </td>
            <td>
                 <a href="#" onclick="return false" @click="reset(i)">reset</a>
            </td>
        </tr>
    </table>

    <div style="margin-top:30px;">
        <button @click="cancel">close</button> &nbsp; <button @click="apply">apply</button>
    </div>

</div>
</template>

<script>
module.exports = {
    components: {
        'jscolor': window.httpVueLoader('/static_js/JSColor.vue')
    },

    props: { 
        legends: Array,
        originalColours: Object,
    },

    computed: {
        dataArray: function() {
            return this.legends.map(function(item) { 
                var element = {...item};
                element.colour = item.colour.toLowerCase();
                return element;
            })},
    },

    methods: {
        update: function(colour,index) {
            this.dataArray[index].colour = colour;
        },

        reset: function(index) {
            // If this is projected data, there is no original colour, so just let people know
            if (Object.keys(this.originalColours).indexOf(this.dataArray[index].value)==-1) {
                alert("Reset function only works with atlas samples.");
            }
            else {
                this.legends[index].colour=this.originalColours[this.dataArray[index].value];
            }
            // Before I used component version of jscolor, I needed to do this the old fashioned way, otherwise dom element did not update even after vue variable update.
            // Keeping it here just in case we use jscolor again without component wrapper.
    		//document.getElementById('input' + index).style['background-color'] = this.dataArray[index].colour;
        },

        cancel: function() {
            this.$emit('cancel');
        },

        apply: function() {
            this.$emit('apply', this.dataArray);
        }
    },

    mounted() {
    }
}
</script>

<style scoped>
h1 {
    font-size:16px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

table.noborder tbody {
    display:block;
    max-height:350px;
    overflow:auto;
    margin-top:20px;
}

input {
    font-size:11px;
    line-height:14px;
    width:50px;
    border: 1px solid #ededed;
    padding:inherit;
}

.color-value {
      width: 18px;
      height: 18px;
      float: left;
      display: block;
}

</style>
