<template>
<div>
    <span style="font-size:1.2em; font-weight:bold">Find dataset</span>
    <p style="margin-bottom:20px;">You can search the datasets that were used for construction of this atlas here.
    Hover over the author to get some details on the samples. 
    Click on the author to highlight the samples which came from that dataset in the current plot. 
    Clicking on the pubmed id will take you to pubmed site.
    </p>
    <table class="noborder" style="font-size:12px;"><tr>
    <td style="width:20px;">
        <div class="scrolltable">
        <table>
        <tr>
            <th><div>author</div></th>
            <th><div>year</div></th>
            <th><div>pubmed id</div></th>
        </tr>
        <tr v-for="row in allData">
            <td><a href="#" onclick="return false" @mouseover="showDataset(row.datasetId)" @click="datasetSelected">{{row.author}}</a></td>
            <td>{{row.year}}</td>
            <td>
                <a :href="'https://www.ncbi.nlm.nih.gov/pubmed/?term=' + row.pubmedId" target="_blank">{{row.pubmedId}}</a>
            </td>
        </tr>
        </table>
        </div>
    </td>
    <td style="font-size:12px; vertical-align:top; width:150px;">
        <div v-if="sampleIdsMatchingDatasets.length>0" style="margin-top:10px; overflow:auto; height:200px;">
            <span style="font-weight:bold">{{selectedDatasetInfo}}</span> <br/>({{sampleIdsMatchingDatasets.length}} samples used)
            <ul>
            <li v-for="item in Object.keys(sampleInfo)">&bull; {{item}} ({{sampleInfo[item].length}})</li>
            </ul>
        </div>
    </td>
    </tr></table>
</div>
</template>

<script>
module.exports = {
    props: {
        'allData': Array, 
        'sampleIds': Array, 
        'sampleTable': Object
    },

    data: function() {
        return {
            sampleInfo: {}, // used to show sample breakdown of selected dataset
            sampleIdsMatchingDatasets: [],
            selectedDatasetInfo: "",
        }
    },

    methods: {
        // Run when user hovers over dataset in the table
        showDataset: function(datasetId) {
            // Flag samples matching datasetId and update plot
            var self = this;
            var sampleIds = self.sampleIds.filter(function(item) { return item.split(";")[1]==datasetId});

            var key = "Cell Type";  // only select values under this key from sample table
            var sampleInfo = {};
            // we will collect all values under key
            for (var i=0; i<sampleIds.length; i++) {
                var value = self.sampleTable[key][sampleIds[i]];
                if (Object.keys(sampleInfo).indexOf(value)==-1)
                    sampleInfo[value] = [];
                sampleInfo[value].push(sampleIds[i])
            }

            var matchingDataset = self.allData.filter(function(item) { return item.datasetId==parseInt(datasetId); });
            
            // assign object variables
            self.selectedDatasetInfo = matchingDataset[0].author + ", " + matchingDataset[0].year;
            self.sampleIdsMatchingDatasets = sampleIds;
        },

        // Run when user clicks on a dataset
        datasetSelected: function() {
            var data = {'sampleIdsMatchingDatasets': this.sampleIdsMatchingDatasets, 'selectedDatasetInfo':this.selectedDatasetInfo};
            this.$emit('highlight-dataset', data);
        }
    }
}
</script>

<style scoped>
div.scrolltable { margin-top: 20px; height: 200px; overflow: auto; }
div.scrolltable table { border-collapse: collapse; border: 1px solid #80808080; }
div.scrolltable tr:nth-child(even) { background: #EEE; }
div.scrolltable th div { position: absolute; margin-top: -25px; }
div.scrolltable th, div.scrolltable td { border-right: none; color: grey; font-size:14px; }
</style>
