<template>
<div style="overflow:auto; width:850px;">
    <p>You can define a custom sample group here by combining two existing sample groups together.
        Start selecting items from each sample group, and the third column will automatically show the combinations.
        Items where the combination yields no samples in it will be ignored later. 
        Note that currently only one custom sample group is available.
    </p>
    <table>
        <tr>
            <th><select v-model="selectedSampleGroup1" @change="selectedItems1=[]"><option v-for="item in sampleGroupsToShow">{{item}}</option></select></th>
            <th><select v-model="selectedSampleGroup2" @change="selectedItems2=[]"><option v-for="item in sampleGroupsToShow">{{item}}</option></select></th>
            <th>{{customGroupName}}</th>
        </tr>
        <tr>
            <td><div><ul>
                <li v-for="(item,i) in sampleTypeOrdering[selectedSampleGroup1]">
                    <input type="checkbox" v-show="item!=''" :value="item" :id="item+i" v-model="selectedItems1">
                    <label v-show="item!=''" :for="item+i">{{item}} ({{itemSize(selectedSampleGroup1, item)}})</label>
                </li>
            </ul></div></td>
            <td><div><ul>
                <li v-for="(item,i) in sampleTypeOrdering[selectedSampleGroup2]">
                    <input type="checkbox" v-show="item!=''" :value="item" :id="item+i" v-model="selectedItems2">
                    <label v-show="item!=''" :for="item+i">{{item}} ({{itemSize(selectedSampleGroup2, item)}})</label>
                </li>
            </ul></div></td>
            <td><div><ul>
                <li v-for="item in customItems()"><span class="customItem" :style="item.sampleIds.length==0? 'color:#d3d3d3' : 'color:inherit'">
                    {{item.sampleGroup}} ({{item.sampleIds.length}})</span>
                </li>
            </ul></div></td>
        </tr>
    </table>
    <button @click="save" style="margin-top:30px;">save</button>
    <button @click="close" style="margin-top:30px;">close</button>
</div>
</template>

<script>
module.exports = {

    props: {
        sampleTable: Object,
        sampleIds: Array,
        sampleTypeColours: Object,
        sampleGroups: Array,
        sampleTypeOrdering: Object,
        customGroupName: String,
    },

    data: function() {
        return {
            selectedSampleGroup1: this.sampleGroups[0],
            selectedSampleGroup2: this.sampleGroups[1],
            selectedItems1: [],
            selectedItems2: [],
            sampleGroupsToShow: this.sampleGroups.filter(item => item !== this.customGroupName),  // remove customGroupName
            //customItemCount: 0, // this will count length of custom items without those with zero sample ids
        }
    },

    computed: {
    },

    methods: {

        // Return the number of samples in this sample group and item
        itemSize: function(sampleGroup, item) {
            var self = this;
            var items = [];
            for (var sampleId in self.sampleTable[sampleGroup]) {
                if (self.sampleTable[sampleGroup][sampleId]==item)
                    items.push(item);
            }
            return items.length;
        },

        // Return array of items after combining the selections from 1 and 2
        customItems: function() {
            var self = this;
            var group1 = self.sampleTable[self.selectedSampleGroup1];
            var group2 = self.sampleTable[self.selectedSampleGroup2];
            self.customItemCount = 0;

            // Create combinations of selected items and corresponding numbers
            var items = [];
            var sampleIdsInGroups = [];
            for (var i=0; i<self.selectedItems1.length; i++) {
                for (var j=0; j<self.selectedItems2.length; j++) {
                    // count the number of sampleIds which belong to both of these groups
                    var sampleIds = self.sampleIds.filter(function(sampleId) { 
                        return group1[sampleId]==self.selectedItems1[i] && group2[sampleId]==self.selectedItems2[j];
                    });
                    sampleIdsInGroups.push(sampleIds);
                    items.push({'sampleGroup':self.selectedItems1[i] + "_" + self.selectedItems2[j], 'sampleIds':sampleIds});
                    //if (sampleIds.length>0)
                    //    self.customItemCount++;
                }
            }

            // Add "other" group - find all sampleIds not found above
            sampleIdsInGroups = [].concat.apply([], sampleIdsInGroups); // flatten the array
            if (sampleIdsInGroups.length>0) {
                items.push({'sampleGroup':'other', 'sampleIds':self.sampleIds.filter(function(sampleId) { 
                    return sampleIdsInGroups.indexOf(sampleId)==-1})});
                //self.customItemCount++;
            }

            return items;
        },

        // Send signal to save the result
        save: function() {
            this.$emit('save', this.customItems());
        },

        // Send signal to close this component if used as a dialog
        close: function() {
            this.$emit('close');
        },
    },

    mounted() {
        if (this.sampleGroups.indexOf(this.customGroupName)!=-1) {  // reconstruct current custom group
            var orderedItems = this.sampleTypeOrdering[this.customGroupName];
            for (var i=0; i<orderedItems.length; i++) {
                var items = orderedItems[i].split("_");
                if (items[0]=="other" || items[1]=="other") continue;   // 
                if (this.selectedItems1.indexOf(items[0])==-1)
                    this.selectedItems1.push(items[0]);
                if (this.selectedItems2.indexOf(items[1])==-1)
                    this.selectedItems2.push(items[1]);
            }
        }
        //console.log(this.customGroupName);
    }
}
</script>

<style scoped>
h1 {
    font-size:16px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

p {
    font-size:14px;
    margin-top:10px;
    line-height: 20px;
}

table {
    margin-top: 10px;
    border: 1px solid #e2e1e1;
}

th, td {
    border-right: 1px solid #e2e1e1;
    border-bottom: 1px solid #e2e1e1;
    font-size: 12px;
    height: 18px;
    color: inherit;
    vertical-align: top;
}

td div {
    height: 400px;
    overflow:auto;
}

input[type="checkbox"], label {
    float: left;
    line-height: 1.6em;
    height: 1.6em;
    margin: 0px 2px;
    font-size: inherit;
}

input[type="checkbox"] {
    clear: left;
}

span.customItem {
    line-height: 1.6em;
}

</style>
