<template>
<div style="overflow:auto; width:900px;">
    <p style="text-align:center; margin-top:40px;">gene: {{selectedGene}}
        <span style="margin-left:20px;">group by: 
            <select v-model="selectedSampleGroup" @change="mainPlot">
                <option v-for="item in colourBy">{{item}}</option>
            </select>
            <select v-model="selectedPlotType" @change="mainPlot" style="margin-left:20px;">
                <option v-for="item in plotTypes">{{item}}</option>
            </select>
            <select v-model="showPoints" @change="mainPlot"><option :value="false">hide points</option><option :value="true">show points</option></select>
            <a href="#" onclick="return false" @click="downloadPlot" v-tooltip="tooltip.download">
                <img src="/static_img/DownloadIcon.png" style="height:19px; vertical-align:middle;">
            </a>
        </span>
    </p>
    <div id="geneExpressionScatterPlotDiv" style="margin-top:10px;"></div>
</div>
</template>

<script>
module.exports = {

    props: {
        selectedGene: String,
        possibleGenes: Array,
        currentGeneExpression: Array,
        sampleTable: Object,
        sampleIds: Array,
        sampleTypeColours: Object,
        colourBy: Array,
        selectedColourBy: String,
        sampleTypeOrdering: Object,
    },

    data: function() {
        return {
            geneExpression: this.currentGeneExpression,
            selectedSampleGroup: this.selectedColourBy,
            plotTypes: ["violin", "box"],
            selectedPlotType: "violin",
            showPoints: false,
            tooltip: {'download':"<p class='tooltiptext'>Download this plot in large size (jpeg format)</p>"}
        }
    },

    methods: {
        // Return the traces used by plotly. Each trace corresponds to a sample type in box or violin plots.
        traces: function() {
            var self = this;
            var data = [];

            // Work out what values are available for selected colour by:
            var column = self.sampleTable[self.selectedSampleGroup]; // dict of selected column from sampleTable
            var availableValues = [];  // will store the unique values in this column
            var sampleIdIndex = {}; // dict to store index of matching sample ids for each item of availableValues
            for (var sampleId in column) {
                if (column[sampleId]=="") continue; // skip null valued rows
                if (availableValues.indexOf(column[sampleId])==-1) {    // first time seen
                    availableValues.push(column[sampleId]);
                    sampleIdIndex[column[sampleId]] = [];
                }
                sampleIdIndex[column[sampleId]].push(self.sampleIds.indexOf(sampleId));
            }

            // Now we order these based on sampleTypeOrdering if this is available
            var ordering = self.selectedSampleGroup in self.sampleTypeOrdering? self.sampleTypeOrdering[self.selectedSampleGroup] : null;
            availableValues.sort(function(a, b) {
                return ordering==null? a>b : ordering.indexOf(a) - ordering.indexOf(b);
            });

            for (var i=0; i<availableValues.length; i++) {
                var sampleGroup = availableValues[i];
                var trace = {
                    type: self.selectedPlotType,
                    y: self.geneExpression.filter(function(item,index) { return sampleIdIndex[sampleGroup].indexOf(index)!=-1}),
                    box: { visible: true },
                    line: {
                        width: 1,
                        color: 'black'
                    },
                    meanline: {
                        visible: true
                    },
                    name: sampleGroup,
                    x0: sampleGroup,
                    showlegend: false,
                    hoverinfo: "y",
                };
                if (self.selectedSampleGroup in self.sampleTypeColours && sampleGroup in self.sampleTypeColours[self.selectedSampleGroup]) {
                    trace['marker'] = {'color': self.sampleTypeColours[self.selectedSampleGroup][sampleGroup]};
                    trace['fillcolor'] = self.sampleTypeColours[self.selectedSampleGroup][sampleGroup];
                }

                // Trace elements specific to plot type
                if (self.selectedPlotType=="violin") {
                    trace.points =  self.showPoints? 'all': false;
                } else {
                    trace.boxpoints = self.showPoints? 'all': false;
                }
                data.push(trace);
            }
            return data;
        },

        // Function to perform the plot in the mainDiv
        mainPlot: function() {
            var div = document.getElementById("geneExpressionScatterPlotDiv");
            var layout = {  title: "",  margin: {t:10, l:20, r:0, b:0}, xaxis: {automargin: true}, };
            // layout.shapes = [{
            //     type: 'rect',
            //     xref: 'paper', yref: 'paper',
            //     x0: 0, y0: 0.2, x1: 1, y1: 0.8,
            //     fillcolor: '#d3d3d3',
            //     opacity: 0.4,
            //     line: { width: 0 },
            //     layer: "below"
            // }];
            Plotly.newPlot(div, this.traces(), layout);
            //Plotly.restyle(div, {'line.color':'blue'});
        },

        // Send signal to close this component if used as a dialog
        close: function() {
            this.$emit('close');
        },

        // Should run when user wants to download a plot. imageType is one of ["svg","jpeg","webp"]
        downloadPlot: function() {
            Plotly.downloadImage(document.getElementById("geneExpressionScatterPlotDiv"), {
                format: "jpeg",
                height: 800,
                width: 1400,
                filename: 'Stemformatics_atlas_gene_expression_' +  this.selectedGene
            });
        },
    },

    mounted() {
        this.mainPlot();
    }
}
</script>

<style scoped>
h1 {
    font-size:18px;
    text-align: center;
}
a {
    text-decoration: none;
}
</style>
