<template>
<div style="overflow:auto; width:700px;">
    <p style="margin-top:20px; font-size:14px; line-height:17px; text-align:center;">
        This plot shows the (Euclidean) distance of a projected sample to its nearest neighbours 
        on the atlas after projection as a dendrogram. Selecting a different sample will redraw
        the plot to show its nearest neighbours.
    </p>
    <div style="margin-top:20px; text-align:center;" v-cloak>
        projected sample: 
        <select v-model="selectedProjectedSample" @change="getHierarchyAndPlot">
            <option v-for="item in projectedSamples" :value="item">{{item}} ({{sampleTable[selectedSampleGroup][item]}})</option>
        </select> &nbsp;
        <select v-model="selectedSampleGroup" @change="plotDendrogram">
            <option v-for="item in colourBy">{{item}}</option>
        </select>
        <a href="#" onclick="return false" @click="downloadPlot" v-tooltip="tooltip.download">
            <img src="/static_img/DownloadIcon.png" style="height:19px; vertical-align:middle;">
        </a>
    </div>
    <div id="dendrogramPlotDiv" style="margin-top:10px;"></div>
</div>
</template>

<script>
test = function() { console.log("testing")}
module.exports = {

    props: {
        projectedSamples: Array,
        name: String,
        sampleTable: Object,
        sampleTypeColours: Object,
        colourBy: Array,
        selectedColourBy: String,
    },

    data: function() {
        return {
            selectedProjectedSample: this.projectedSamples.length>0? this.projectedSamples[0]: null,
            selectedSampleGroup: this.selectedColourBy,
            dendro: {},
            tooltip: {'download':"<p class='tooltiptext'>Download this plot in large size (jpeg format)</p>"}
        }
    },

    methods: {
        getHierarchyAndPlot: function() {
            var self = this;
            axios.get('/atlas/hierarchy?sampleId=' + self.selectedProjectedSample)
                .then(function (response) {
                    self.dendro = response.data;
                    self.plotDendrogram();
            });

        },

        // Return the traces used by plotly. Each trace corresponds to a sample type in box or violin plots.
        traces: function() {
            var self = this;
            var data = [];

            return data;
        },

        // Function to perform the dendrogram plot. Dendrogram objects comes directly from scipy.cluster.hierarchy package:
        // var dendro = {'icoord': [[15.0, 15.0, 25.0, 25.0], [5.0, 5.0, 20.0, 20.0], [45.0, 45.0, 55.0, 55.0], [35.0, 35.0, 50.0, 50.0], [12.5, 12.5, 42.5, 42.5]], 
        //               'dcoord': [[0.0, 0.5219945238926547, 0.5219945238926547, 0.0], [0.0, 1.6085729478065365, 1.6085729478065365, 0.5219945238926547], [0.0, 0.9725137421902116, 0.9725137421902116, 0.0], [0.0, 1.6994817126720057, 1.6994817126720057, 0.9725137421902116], [1.6085729478065365, 2.8581533308230407, 2.8581533308230407, 1.6994817126720057]], 
        //               'ivl': ['FANTOM6-5;7079', 'FANTOM-15;7079', 'FANTOM9;7079', 'FANTOM6-7;7079', 'GSM994853;6463', 'GSM994851;6463'], 
        //               'leaves': [4, 3, 5, 2, 0, 1], 
        //               'color_list': ['g', 'g', 'r', 'r', 'b']};
        // (We get a slightly modified version where color_list is in hex, rather than matplotlib strings.)
        //
        // Plotly js does not have dendrogram plot, but we can simulate this by using icoord and dcoord here, as icoord specifies
        // y coordinates and dcoord are x coordinates where plots should happen. If you supply null in between points
        // in plotly, it will do disjoint line plots. Eg:
        // var x = [0,1,null,0,1,null,1,1,null,1,4,null,0,4,null,4,4]
        // var y = [0,0,null,1,1,null,0,1,null,0.5,0.5,null,2,2,null,0.5,2]
        // icoord and dcoord do not contain coordinates for the perpendicular lines joining a pair of lines, so we add pairs of points
        // to make this work.
        plotDendrogram: function() {
            var self = this;
            var dcoord = self.dendro['dcoord'];
            var icoord = self.dendro['icoord'];
            var labels = self.dendro['ivl'];

            // Obtain coordinates to plot. yticks will be coordinates of ticks on the y axis.
            var x = [], y = [], yticks = [], colours=[];
            for (var i=0; i<icoord.length; i++) {
                // each segment of dendrogram is made up of 3 straight lines
                x.push([dcoord[i][0], dcoord[i][1]]);
                x.push([dcoord[i][1], dcoord[i][1]]);
                x.push([dcoord[i][2], dcoord[i][3], null]);
                
                y.push([icoord[i][0], icoord[i][1]]);
                y.push([icoord[i][1], icoord[i][2]]);
                y.push([icoord[i][2], icoord[i][3], null]);
                
                //for (var j=0; j<3; j++)

                for (var j=0; j<dcoord[i].length; j++) {
                    if (dcoord[i][j]==0 && yticks.indexOf(icoord[i][j])==-1) 
                        yticks.push(icoord[i][j]);
                    colours.push(self.dendro['color_list'][i]);
                }
            }
            // Need to flatten x,y before using in traces (https://stackoverflow.com/questions/10865025/merge-flatten-an-array-of-arrays)
            // Not using flat() yet, in case of browsers not supporting this.
            var xvalues = [].concat.apply([], x);
            var yvalues = [].concat.apply([], y);

            // Define the text for ticks. Can be html but javascript events don't seem to work here and only <span> or <b>.
            var ticktext = [];
            for (var i=0; i<labels.length; i++) {
                var item = (labels[i] in self.sampleTable["Cell Type"])? self.sampleTable[self.selectedSampleGroup][labels[i]] : labels[i];
                var colour = labels[i].startsWith(self.name + "_")? "green" : "#253494";
                if (labels[i]==self.selectedProjectedSample)
                    ticktext.push("<span style='color:" + colour + "; font-weight:bold;'>" + item + "</span>");
                else
                    ticktext.push("<span style='color:" + colour + "'>" + item + "</span>");
            }
            
            var traces = [{type:'scatter', x:xvalues, y:yvalues, mode:'lines'}];
            var layout = {yaxis: { tickvals:yticks, tickmode:'array', ticktext:ticktext, tickfont:{size:11}, },
                          margin: {t:30, l:210, r:10, b:0}};

            var div = document.getElementById("dendrogramPlotDiv");
            Plotly.newPlot(div, traces, layout);
        },

        // Send signal to close this component if used as a dialog
        close: function() {
            this.$emit('close');
        },

        // Should run when user wants to download a plot. 
        downloadPlot: function() {
            Plotly.downloadImage(document.getElementById("dendrogramPlotDiv"), {
                format: "jpeg", // one of ["svg","jpeg","webp"]
                height: 800,
                width: 1400,
                filename: 'Stemformatics_atlas_projection_dendrogram_' +  this.selectedProjectedSample
            });
        },
    },

    mounted() {
        this.getHierarchyAndPlot();
    }
}
</script>

<style scoped>
h1 {
    font-size:18px;
    text-align: center;
}
a {
    text-decoration: none;
}
</style>
