div.enclosed_search_box {
    border: None !important;
    padding: 0px !important;
    padding-bottom: 16px !important;
}

div.basic_help {
    width:100% !important;
}

#reset {
    padding-bottom: 0.45em;
}

div.title {
    margin-bottom: 16px;
}

div.header {
	cursor: pointer;
}

#simplemodal-container {
	height: 500px !important;
	width:700px !important;
}
.name-dataset{
	cursor: pointer;
	text-decoration: underline;
}

.link {
	cursor: pointer;
	text-decoration: underline;
}
#mdd_search_form {
	padding-top: 0.75em;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 16px;
    color: #F05D24;
    margin-top: 0.75em;
}

.form_fields {
	margin-right: 1em;
}