#fold_change_output_table th.short {

    width: 180px !important;
}

#fold_change_output_table {
    width: 890px !important;
}


#gene_expression_view_button {
    margin-left: 12px;
}

.sample_dropdown {
	   color: #F15D22;
	   font-size: 16px;
	   font-family: Arial, Helvetica, sans-serif;
	   margin-right: 22px;
}
.sample_dropdown_div {
	margin-top: 18px;
}