html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/local/share/gems/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* the greys */
/* $selected_header_orange: $light_orange_color;   */
/****************************************************************************************/
/* Start of generic CSS */
/****************************************************************************************/
/* line 73, ../sass/screen.scss */
div.clear {
  clear: both;
  float: none;
  margin: 0px !important;
}

/* line 75, ../sass/screen.scss */
.margin_bottom_small {
  margin-bottom: 12px;
}

/* line 76, ../sass/screen.scss */
.margin_bottom_medium {
  margin-bottom: 16px;
}

/* line 77, ../sass/screen.scss */
.margin_bottom_large {
  margin-bottom: 20px;
}

/* line 78, ../sass/screen.scss */
.large {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* line 79, ../sass/screen.scss */
.underline {
  text-decoration: underline;
}

/* line 80, ../sass/screen.scss */
.padding_big {
  padding: 16px;
}

/* line 81, ../sass/screen.scss */
li.ui-menu-item {
  list-style: none;
}

/* line 82, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 83, ../sass/screen.scss */
a {
  line-height: 16px;
  text-decoration: none;
  color: #5A5A5A;
}
/* line 72, ../sass/screen.scss */
a:hover {
  color: #000 !important;
}
/* line 72, ../sass/screen.scss */
a:link {
  color: #5A5A5A;
}
/* line 72, ../sass/screen.scss */
a:visited {
  color: #5A5A5A;
}

/* line 85, ../sass/screen.scss */
div.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  color: #F05D24;
}

/* line 88, ../sass/screen.scss */
input[type='text'], textarea, input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #5A5A5A;
  padding: 6px;
}

/* line 93, ../sass/screen.scss */
input[type='radio'], input[type='checkbox'] {
  height: 19px;
  margin-bottom: 6px;
}

/* line 94, ../sass/screen.scss */
label {
  float: left;
  margin-left: 4px;
}

/* line 115, ../sass/screen.scss */
.smallMarginTop {
  margin-top: 12px;
}

/* line 117, ../sass/screen.scss */
input[type=submit] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  border-radius: 3px;
  padding: 6px;
  background-color: #F99820;
  color: #FFF !important;
  border: none !important;
  margin-bottom: 12px;
}
/* line 106, ../sass/screen.scss */
input[type=submit] a {
  color: #FFF;
  text-decoration: none;
}
/* line 108, ../sass/screen.scss */
input[type=submit] a:hover {
  color: #FFF !important;
}
/* line 109, ../sass/screen.scss */
input[type=submit] a:visited {
  color: #FFF !important;
}

/* line 128, ../sass/screen.scss */
.no_margin_top {
  margin-top: 0px !important;
}

/* line 129, ../sass/screen.scss */
.no_margin_bottom {
  margin-bottom: 0px !important;
}

/* line 130, ../sass/screen.scss */
.no_margin_right {
  margin-right: 0px !important;
}

/* line 131, ../sass/screen.scss */
.no_margin_left {
  margin-left: 0px !important;
}

/* line 132, ../sass/screen.scss */
.margin_left_small {
  margin-left: 12px !important;
}

/* line 133, ../sass/screen.scss */
.margin_top_small {
  margin-top: 12px !important;
}

/* line 135, ../sass/screen.scss */
.alert {
  padding: 12px;
  position: fixed;
  opacity: 0.88;
  background-color: #68228B;
  max-width: 308px;
  color: #ffffff;
  z-index: 10002;
  bottom: 4%;
  right: 2%;
  border: 1px solid #000000;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 162, ../sass/screen.scss */
.consent_message {
  margin-left: 15px;
  color: #ffffff;
  background-color: #68228B;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
  z-index: 100;
  padding: 0.5%;
  position: fixed;
  bottom: 0px;
}

/* line 175, ../sass/screen.scss */
#consent_message_a {
  color: #ffffff;
  font-size: 100%;
  text-decoration: underline;
  cursor: pointer;
}

.consent_message a.modalCloseImg {
  background: url(/images/x.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -12px;
  right: -12px;
  cursor: pointer;
}

/* line 182, ../sass/screen.scss */
table.fixed {
  table-layout: fixed;
  width: 100%;
}
/* line 182, ../sass/screen.scss */
table.fixed td {
  overflow: hidden;
}

/* line 184, ../sass/screen.scss */
table {
  border: 2px solid #F7A790;
  width: 100%;
}
/* line 187, ../sass/screen.scss */
table th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 2px solid #F8AB8A !important;
  border-right: 2px solid #F8AB8A;
  color: #F15D22;
  font-weight: normal !important;
  padding: 3px 10px;
}
/* line 193, ../sass/screen.scss */
table th:last-child {
  border-right: 0px;
}
/* line 197, ../sass/screen.scss */
table td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  background_color: #FFF !important;
  border-bottom: 2px solid #FBC888;
  border-right: 2px solid #FBC888;
  color: #5A5A5A;
  word-wrap: break-word;
  padding: 3px 10px;
  max-width: 300px;
}
/* line 205, ../sass/screen.scss */
table td:last-child {
  border-right: 0px;
}
/* line 213, ../sass/screen.scss */
table tr.odd, table tr.even {
  background-color: #FFF !important;
}
/* line 217, ../sass/screen.scss */
table tr.even td.sorting_1,
table tr.odd td.sorting_1 {
  background-color: #FFF !important;
}
/* line 224, ../sass/screen.scss */
table tr:first-child {
  border-top: 0px;
}
/* line 227, ../sass/screen.scss */
table tr:last-child td {
  border-bottom: 0px;
}
/* line 233, ../sass/screen.scss */
table a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  word-wrap: break-word;
  color: #5A5A5A;
  text-decoration: underline;
}

/****************************************************************************************/
/* Start of headers and footers */
/****************************************************************************************/
/* line 246, ../sass/screen.scss */
#main_body {
  width: 1006px;
  margin: 0 auto;
}

/* line 248, ../sass/screen.scss */
.nectar, .qcif, .x, .close24, .help_icon, .logo {
  background: url("../../../images/sprites_1.png") no-repeat;
}

/* line 252, ../sass/screen.scss */
.nectar {
  background-position: 0 -30px;
  width: 16px;
  height: 12px;
}

/* line 258, ../sass/screen.scss */
.qcif {
  background-position: -64px -35px;
  width: 16px;
  height: 14px;
}

/* line 264, ../sass/screen.scss */
#header div.limitedHeader a.logo {
  background-position: 0 -262px;
  width: 200px;
  height: 20px;
}

/* line 270, ../sass/screen.scss */
.x {
  background-position: -252px -88px;
  width: 25px;
  height: 29px;
}

/* line 276, ../sass/screen.scss */
.close24 {
  background-position: -520px -75px;
  width: 24px;
  height: 24px;
}

/* line 282, ../sass/screen.scss */
.help_icon {
  background-position: -400px -240px;
  width: 240px;
  height: 240px;
}

/* line 287, ../sass/screen.scss */
#header.other_banner div.limitedHeader a.logo {
  background-position: -5px -328px;
  width: 195px;
  height: 20px;
}

/* line 295, ../sass/screen.scss */
#header {
  height: 100px;
  border-bottom: 4px solid #808080;
}

/* line 296, ../sass/screen.scss */
#header div.limitedHeader {
  margin: 0 auto;
  height: 100px;
  width: 1006px;
  position: relative;
}
/* line 296, ../sass/screen.scss */
#header div.limitedHeader a.logo {
  display: block;
  position: absolute;
  width: 200px;
  height: 20px;
  left: 0px;
  bottom: 32px;
}

/* line 299, ../sass/screen.scss */
#header div.rightHeader {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  position: absolute;
  padding-right: 10px;
  color: #787878;
  right: 50px;
  text-align: right;
}
/* line 307, ../sass/screen.scss */
#header div.rightHeader div.user-info div.full_name {
  display: inline-block;
  margin-left: 8px;
}
/* line 313, ../sass/screen.scss */
#header div.rightHeader div.login-tasks a {
  font-size: 13px;
  color: #787878;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  text-decoration: none;
}
/* line 321, ../sass/screen.scss */
#header div.rightHeader a.no_padding_right,
#header div.rightHeader a:last-child {
  padding-right: 0px !important;
}

/* line 328, ../sass/screen.scss */
#header div.rightHeader {
  bottom: 14px;
}

/* line 400, ../sass/screen.scss */
#menus {
  margin-bottom: 30px;
  z-index: 100;
  height: 44px;
  border-bottom: 2px solid #808080;
}

/* line 402, ../sass/screen.scss */
#main_headers {
  margin: 0 auto;
  width: 1006px;
  position: relative;
  top: 15px;
}
/* line 404, ../sass/screen.scss */
#main_headers div.header {
  float: left;
  margin-right: 12px;
}
/* line 406, ../sass/screen.scss */
#main_headers div.header a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #5A5A5A;
  display: block;
  padding: 0 8px;
  line-height: 29px;
  border: 1px solid #808080;
  color: #F99820;
  border-bottom: none;
  font-size: 13px;
}
/* line 72, ../sass/screen.scss */
#main_headers div.header a:hover {
  color: #000 !important;
}
/* line 72, ../sass/screen.scss */
#main_headers div.header a:link {
  color: #5A5A5A;
}
/* line 72, ../sass/screen.scss */
#main_headers div.header a:visited {
  color: #5A5A5A;
}
/* line 408, ../sass/screen.scss */
#main_headers div.header a:visited {
  color: #F99820;
}
/* line 409, ../sass/screen.scss */
#main_headers div.header a:link {
  color: #F99820;
}
/* line 410, ../sass/screen.scss */
#main_headers div.header a:hover {
  color: #F05D24 !important;
}
/* line 412, ../sass/screen.scss */
#main_headers div.header a.selected {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #5A5A5A;
  display: block;
  padding: 0 8px;
  line-height: 29px;
  border: 1px solid #808080;
  color: #FFF !important;
  border-bottom: none;
  font-size: 13px;
  background-color: #FF7F25;
}
/* line 72, ../sass/screen.scss */
#main_headers div.header a.selected:hover {
  color: #000 !important;
}
/* line 72, ../sass/screen.scss */
#main_headers div.header a.selected:link {
  color: #5A5A5A;
}
/* line 72, ../sass/screen.scss */
#main_headers div.header a.selected:visited {
  color: #5A5A5A;
}
/* line 416, ../sass/screen.scss */
#main_headers div.header a.selected:visited {
  color: #F99820;
}
/* line 417, ../sass/screen.scss */
#main_headers div.header a.selected:link {
  color: #F99820;
}
/* line 418, ../sass/screen.scss */
#main_headers div.header a.selected:hover {
  color: #F05D24 !important;
  background-color: #FFF;
}

/* line 424, ../sass/screen.scss */
#footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  margin-top: 20px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  color: #777;
  height: 32px;
  margin-bottom: 12px;
}
/* line 432, ../sass/screen.scss */
#footer div.rightfooterText {
  position: relative;
  float: right;
  width: 280px;
  text-align: right;
  display: table-cell;
  vertical-align: middle;
  height: 33px;
}
/* line 440, ../sass/screen.scss */
#footer div.rightfooterText a:first-child {
  margin-right: 5px;
}
/* line 443, ../sass/screen.scss */
#footer div.rightfooterText a.qcif {
  right: 26px;
  top: 9px;
  position: absolute;
}
/* line 444, ../sass/screen.scss */
#footer div.rightfooterText a.nectar {
  right: 2px;
  top: 10px;
  position: absolute;
}
/* line 445, ../sass/screen.scss */
#footer div.rightfooterText span.website {
  right: 50px;
  position: absolute;
}
/* line 447, ../sass/screen.scss */
#footer div.footer_central {
  margin: 0 auto;
  width: 1006px;
}
/* line 448, ../sass/screen.scss */
#footer div.leftfooterText {
  float: left;
  vertical-align: center;
  width: 636px;
}
/* line 452, ../sass/screen.scss */
#footer div.leftfooterText span {
  display: inline-block;
  line-height: 11px;
  padding: 0px 16px;
  border-left: 1px solid #777;
  font-size: 11px;
}
/* line 458, ../sass/screen.scss */
#footer div.leftfooterText span a {
  font-size: 11px;
}
/* line 460, ../sass/screen.scss */
#footer div.leftfooterText span:first-child {
  padding-left: 0px;
  border-left: none;
}
/* line 465, ../sass/screen.scss */
#footer div.leftfooterText a {
  color: #808080;
}
/* line 467, ../sass/screen.scss */
#footer div.leftfooterText a:hover {
  color: #000;
}
/* line 471, ../sass/screen.scss */
#footer img {
  height: 9px;
}

/* line 477, ../sass/screen.scss */
#footer > div {
  font-size: 11px;
  line-height: 32px;
}

/****************************************************************************************/
/* End of headers and footers */
/****************************************************************************************/

/* line 2167, ../sass/screen.scss */
#tooltip {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* line 2217, ../sass/screen.scss */
.block {
  text-align: center;
}

/* line 2221, ../sass/screen.scss */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 2229, ../sass/screen.scss */
.centered {
  display: inline-block;
  vertical-align: middle;
}

/* line 2248, ../sass/screen.scss */
div.help_icon {
  float: right;
  position: absolute;
  bottom: 16px;
  right: 0px;
  height: 52px;
  width: 52px;
  background: #68228B;
  -webkit-animation: mymove 4s infinite;
  -moz-animation: mymove 4s infinite;
}
/* line 2256, ../sass/screen.scss */
div.help_icon img {
  height: 52px;
  width: 52px;
}
/* line 2257, ../sass/screen.scss */
div.help_icon:hover {
  background: #FBAE19 !important;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
}
/* line 2261, ../sass/screen.scss */
div.help_icon:hover ul.main_help_menu {
  display: block;
  width: auto;
}

/* line 2378, ../sass/screen.scss */
.content th, .content td {
  border-bottom: 1px solid #ddd !important;
}
