<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <%namespace name="Base" file="base.mako"/>
	<head>
		${Base.default_inclusions()}

		<!-- all the javascript and css includes for the rendered mako file -->
		${self.includes()}

	</head>

	<body>

        <script type="text/javascript" src= "${h.web_asset_url('/js/jquery_patches.js')}" > </script>
        ${Base.header()}
        <div id="main_body">
        
        <div class="consent_message" id="consent_message">
          <a class="modalCloseImg simplemodal-close" title="Close" onclick="get_user_cookie_consent()"></a> 
              The site uses cookies to deliver our services. By using our site, you acknowledge that you have read and understood our <a id="consent_message_a" href="/contents/disclaimer">Privacy policy</a>.          
        </div>
            <!-- actual body for the rendered mako file -->
            ${self.body()}



        </div>
        ${Base.footer()}
	</body>
</html>
